* {
    box-sizing: border-box;
}

body {
    margin: 0px; 
}

.header {
    background-color: #d3d3d3;
    padding: 20px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: brown;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: aliceblue;
    color: black;
    transition: 600ms;
}

.column.middle {
    text-align: center;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    text-align: center;
    width: 25%;
}

.column.middle {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: rgb(255, 0, 221);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

}
@media screen and (max-width:600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}


