* {
    margin: 0;
}
header {
    background-color: blueviolet;
    padding: 10px;
    color: white;
    text-align: center;
}
body {
    background-color: aliceblue;
}
main {
    padding: 30px 50px;
}
.card {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;

}
.lineInput {
    display: grid;
    margin-bottom: 10px;
}
input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    outline: 0;
}
button {
    border: 0;
    padding: 10px;
    outline: 0;
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    margin-bottom: 30px;

}
button:hover {
    background-color: chartreuse;

}
.content {

}
table {
    border-collapse: collapse;
    width: 100%;
    
    
}
table th {
    background-color: blueviolet;
    padding: 1px 5px;
    text-align: left;
    color: white;
}

.center {
    text-align: center;
}
tbody {
    text-align: center;
}